/**
* about.scss
*
 Layout About  */

.l-about {
  display: grid;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;

  /* Add some content at the bottom of the video/page */
  .about-content {
    position: absolute;
    background: #f6f6f6de;
    max-width: 100vw;
    height: 100vh;
    display: contents;

    .about-content-2 {
      max-width: 100vw;
      height: 100vh;
      background: linear-gradient(0deg, $color-gray-light, #f6f6f6e7);
      display: grid;
      grid-template-rows: repeat(4, 25%);
      grid-template-columns: 100%;
      position: relative;

      .breadcrumb {
        display: none;
      }

      .matrix-large {
        background-image: url(/images/matrix-large.svg);
        background-size: contain;
        background-repeat: no-repeat;
        grid-row-start: 2;
        width: 180px;
        height: 180px;
        left: 5%;
        top: 5%;
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
        z-index: 0;
        position: absolute;
        transform-origin: 50% 50%;
        animation: spin 50s ease-in-out infinite;
        animation-direction: alternate-reverse;
      }

      .circle-black {
        background-image: url(/images/circle-black.svg);
        background-size: contain;
        background-repeat: no-repeat;
        grid-row-start: 1;
        width: 50px;
        height: 50px;
        left: 81%;
        top: 5%;
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
        z-index: 0;
        position: absolute;
        transform-origin: 50% 50%;
        animation: spin 50s ease-in-out infinite;
        animation-direction: reverse;
      }

      .circle-red {
        background-image: url(/images/circle-red.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        left: 10%;
        top: 2%;
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
        z-index: 0;
        position: absolute;
        transform-origin: 50% 50%;
        animation: spin 50s ease-in-out infinite;
      }

      .circle-chess {
        background-image: url(/images/circle-chess.svg);
        background-size: contain;
        background-repeat: no-repeat;
        grid-row-start: 2;
        width: 50px;
        height: 50px;
        left: 83%;
        top: 15%;
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
        z-index: 0;
        position: absolute;
        transform-origin: 50% 50%;
        animation: spin 50s ease-in-out infinite;
        animation-direction: alternate-reverse;
      }

      .circle-chess-1 {
        left: 5%;
        top: -5%;
      }

      .turn {
        background-image: url(/images/turn.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
        height: 24px;
        left: 25%;
        position: absolute;
        transform: translateY(-50vh);
        animation: rain 16s ease-in-out infinite;
        animation-delay: 2s;
        z-index: 0;
      }

      .chess {
        background-image: url(/images/chess.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 47px;
        height: 48px;
        left: 50%;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        transform: translateY(-50vh);
        position: absolute;
        animation: rain 14s ease-in-out infinite;
        animation-delay: 4s;
        z-index: 0;
      }

      .cross {
        background-image: url(/images/cross.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
        height: 24px;
        right: 10%;
        z-index: 0;
        position: absolute;
        transform: translateY(-50vh);
        animation: rain 16s ease-in-out infinite;
        animation-delay: 6s;
      }

      .cross-1 {
        left: 10%;
        transform: translateY(-50vh);
        animation: rain 14s ease-in-out infinite;
        animation-delay: 10s;
        z-index: 0;
      }

      .o {
        background-image: url(/images/o.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
        height: 24px;
        left: 10%;
        z-index: 0;
        position: absolute;
        transform: translateY(-50vh);
        animation: rain 10s ease-in-out infinite;
        animation-delay: 12s;
      }

      .dollar {
        background-image: url(/images/dollar.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
        height: 24px;
        right: 10%;
        position: absolute;
        transform: translateY(-50vh);
        animation: rain 7s ease-in-out infinite;
        animation-delay: 14s;
        z-index: 0;
      }

      .squares {
        background-image: url(/images/squares.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
        height: 24px;
        right: 30%;
        position: absolute;
        transform: translateY(-50vh);
        animation: rain 5s ease-in-out infinite;
        animation-delay: 7s;
        z-index: 0;
      }

      .about-section {
        max-width: 80vw;
        grid-row-start: 1;
        position: absolute;
        justify-self: center;
        margin-top: 20%;

        h1 {
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 1px;
          text-align: center;
          margin-top: 15%;
          margin-bottom: 5%;
          color: $color-secondary;
        }

        .red-line {
          display: none;
        }

        .about-img {
          width: 105%;
          transform: translateY(-25%);
        }
      }

      .about-parraf {
        grid-row-start: 2;
        width: 85vw;
        top: 20%;
        display: flex;
        border: 1px solid $color-tertiary;
        padding: 5%;
        position: absolute;
        justify-self: center;
        z-index: 1;
        background-color: $color-white;

        p {
          color: $color-gray-dark;
          text-align: center;
        }

        .desktop-text-about {
          display: none;
        }
      }

      .about-date {
        grid-row-start: 4;
        max-width: 90vw;
        position: absolute;
        justify-self: center;
        text-align: center;
        align-self: center;

        h5 {
          color: $color-gray-dark;
          margin-bottom: 5%;
        }

        div {
          .email {
            font-size: 12px;
            font-weight: 600;
          }

          .about-img-2 {
            display: none;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .l-about {
    .about-content .about-content-2 {
      .circle-chess {
        left: 87%;
        top: 15%;
        width: 100px;
        height: 100px;
      }

      .circle-chess-1 {
        left: -3%;
        top: -6%;
        width: 100px;
        height: 100px;
      }

      .circle-black {
        left: 80%;
        top: 18%;
        width: 100px;
        height: 100px;
      }

      .circle-red {
        left: 15%;
        top: 10%;
        width: 100px;
        height: 100px;
      }

      .matrix-large {
        width: 250px;
        height: 250px;
        transform: unset;
        top: 0%;
      }

      .breadcrumb {
        align-items: center;
        position: absolute;
        left: 80%;
        top: 2%;
        display: grid;
        grid-template-columns: 25px 80px 100px;

        .house {
          width: 16px;
          grid-column-start: 1;
        }

        .b-1 {
          display: grid;
          grid-template-columns: 15% 85%;
          grid-column-gap: 5px;
          width: 100%;
          grid-column-start: 2;
          left: unset;
          position: relative;

          img {
            transform: rotate(-90deg);
          }

          a {
            grid-column-start: 2;
            color: inherit;
            text-decoration: unset;
          }
        }

        .b-2 {
          display: grid;
          grid-template-columns: 15% 85%;
          grid-column-gap: 5px;
          width: 100%;
          grid-column-start: 3;
          left: unset;
          position: relative;

          img {
            transform: rotate(-90deg);
          }
        }
      }

      .about-section {
        margin-top: unset;
        display: grid;
        grid-template-rows: 60% 20%;
        transform: translateY(15%);

        h1 {
          display: none;
        }

        .about-img {
          grid-row-start: 1;
          width: 720px;
          transform: unset;
        }

        .red-line {
          align-self: center;
          grid-row-start: 2;
          display: block;
          justify-self: center;
          margin-top: 0%;
        }
      }

      .about-parraf {
        grid-row-start: 2;
        transform: unset;
        width: 70%;
        padding: 2%;
        background-color: white;
        top: 15%;

        p {
          display: none;
        }

        .desktop-text-about {
          font-family: 'Lato', sans-serif;
          display: block;
          line-height: 30px;
        }
      }

      .about-date {
        grid-row-start: 3;
        margin-top: 5%;

        h5 {
          font-weight: 400;
          margin-bottom: 2.5%;
        }

        div {
          display: inline-flex;

          .email {
            cursor: pointer;
            font-size: 14px;
            text-decoration: underline;
          }

          .about-img-2 {
            cursor: pointer;
            display: block;
            margin-left: 5%;
            transform: rotate(-90deg);
            filter: grayscale(100);
          }
        }
      }
    }
  }
}
