/**
* about.scss
*
* This is the About Layout were we want to call for an action
* from the client.
* If the design from the other layouts have work as expected, and
* we were able to build up the confidence and convey succesfully the
* ideas and emotions that we want to transmit, now the user or potential
* employer would want to hire as to solve his problems.
*
* Keep the same design rules than before and remember to make this layout
* as simple and clean as possible. So the user don't have any distraction
* or interference that could cost us lose the oportunity.
 Layout about  */

.l-about {
  display: contents;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;

  #myVideo {
    position: fixed;
    right: 0;
    opacity: 1;
    width: 140%;
  }

  /* Add some content at the bottom of the video/page */
  .content {
    position: absolute;
    background: #f6f6f6de;
    max-width: 100vw;
    height: 100vh;
    display: contents;
    .about-content {
      max-width: 100vw;
      height: 100vh;
      background: linear-gradient(0deg, $color-gray-light, #f6f6f6e7);
      display: grid;
      grid-template-rows: repeat(4, 25%);
      grid-template-columns: 100%;
      position: relative;

      .matrix {
        background-image: url(/images/matrix.svg);
        background-size: contain;
        background-repeat: no-repeat;
        grid-row-start: 3;
        width: 50%;
        height: 25%;
        left: 55%;
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
        z-index: 0;
        position: absolute;
      }

      .turn {
        background-image: url(/images/turn.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 50%;
        height: 25%;
        top: 3%;
        left: 55%;
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
        z-index: 0;
        position: absolute;
      }

      .chess {
        background-image: url(/images/chess.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 50%;
        height: 25%;
        top: 3%;
        left: 55%;
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
        z-index: 0;
        position: absolute;
      }

      .cross {
        background-image: url(/images/cross.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 50%;
        height: 25%;
        top: 6%;
        left: 55%;
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
        z-index: 0;
        position: absolute;
      }

      .o {
        background-image: url(/images/o.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 50%;
        height: 25%;
        top: 50%;
        left: 55%;
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
        z-index: 0;
        position: absolute;
      }

      .dollar {
        background-image: url(/images/dollar.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 50%;
        height: 25%;
        top: 5%;
        left: 55%;
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
        z-index: 0;
        position: absolute;
      }

      .squares {
        background-image: url(/images/squares.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 50%;
        height: 25%;
        top: 10%;
        left: 55%;
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
        z-index: 0;
        position: absolute;
      }

      .hero-section {
        max-width: 80vw;
        grid-row-start: 2;
        position: absolute;
        justify-self: center;
        h3 {
          color: $color-secondary;
        }
        img {
          width: 105%;
          transform: translateY(-25%);
        }
      }

      .about-parraf {
        grid-row-start: 3;
        width: 85vw;
        height: 128px;
        border: 3px solid $color-white;
        padding: 5%;
        position: absolute;
        justify-self: center;
        z-index: 1;
        background-color: $color-gray-light;
      }
      .about-date {
        grid-row-start: 4;
        max-width: 90vw;
        position: absolute;
        justify-self: center;
      }
    }
  }
}
