.l-logo {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 10%;
  position: relative;
  background-color: $color-white;
  z-index: 1;

  .logo-title {
    text-align: center;
    margin-top: 5%;

    h3 {
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 10%;
    }

    .red-line-logo {
      grid-row-start: 1;
      width: 45px;
      height: 2px;
      background-color: #ec5242;
      position: relative;
      margin-right: auto;
      margin-left: auto;
      margin-top: 5%;
      margin-bottom: 10%;
    }

    h5 {
      color: $color-gray-dark;
      margin-bottom: 5%;
    }

    .desktop-text-logo {
      display: none;
    }
  }

  .logo-card {
    border: 2px solid $color-gray-light;
    transform: translateY(25%);
    display: flex;
    padding: 10%;
    padding-right: 5%;
    margin-top: unset;

    img {
      width: 18%;
      align-self: self-end;
      transform: translateY(-25%);
    }

    .logo-text {
      font-size: 42px;
      line-height: 42px;
      align-self: end;
      margin-left: 3%;

      h6 {
        border-top: 0.25px solid $color-tertiary;
        border-bottom: 0.25px solid $color-tertiary;
        text-align: center;
      }
    }

    h1 {
      font-size: 30px;
      line-height: 28px;
      letter-spacing: -2px;
    }
  }
}

@media (min-width: 768px) {
  .l-logo {
    padding: unset;
    height: 60vh;

    .logo-title {
      margin-top: 3%;

      h3 {
        margin-top: 0%;
        margin-bottom: 0%;
      }

      .red-line-logo {
        display: block;
        margin-top: 2%;
        margin-bottom: -1%;
      }

      h5 {
        display: none;
      }

      .desktop-text-logo {
        margin-top: 2%;
        margin-bottom: -1%;
        line-height: 24px;
        font-weight: 400;
        display: block;
      }
    }

    .logo-card {
      margin-top: 0%;
      width: 60%;
      height: 20vh;
      justify-content: center;
      justify-self: center;
      padding: unset;
      margin-left: auto;
      margin-right: auto;

      img {
        width: 60px;
        transform: translateY(45%);
      }

      .logo-text {
        transform: translateY(30%);

        h1 {
          font-size: 48px;
          line-height: 40px;
        }

        h6 {
          margin-top: 1%;
        }
      }
    }
  }

}

  @media (min-width: 900px) {
    .l-logo {
    .logo-card {
      margin-top: 0%;
      width: 33%;
      height: 20vh;
    }
    }

  }