/**
* buttons.scss
*
* Buttons, whatever their purpose, are important design elements.
* They could be the end point of a Web form or a call to action.
* Designers have many reasons to style buttons, including to make
* them more attractive and to enhance usability.
*
* - Use white color to transmit trust.
* - Use black color to transmit being elegant, formal, slick or modern.
* - Use blue color to transmit stability and confidence.
* - Use rounded corners, they are easier on the eyes.
*
*/

/*  Component Buttons  */

.btn {
  background-color: $color-secondary;
  border: unset;
  color: $color-white;
  grid-row-start: 7;
  position: absolute;
  width: 70%;
  height: 70%;
  justify-self: center;
  font-size: 12px;
  font-weight: 600;

  &:active {
    transform: scale(0.9);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    transition: all 0.5s ease-in-out;
  }

  @media (min-width: 450px) and (max-width: 768px) {
    font-size: 16px;
  }
}

.btn-2 {
  &:active {
    transform: scale(0.8);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
  }
}

.btn-3 {
  background-color: $color-white;
  border: 3px solid $color-secondary;
  color: $color-secondary;
  grid-row-start: unset;
  position: relative;
  width: 120px;
  height: 42px;

  &:active {
    transform: scale(0.8);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    transition: all 0.5s ease-in-out;
  }
}
