@font-face {
  font-family: 'cocogoose_proitalic';
  src: url('./fonts/cocogoose_pro_ultralight_italic_trial-webfont.woff2')
      format('woff2'),
    url('./fonts/cocogoose_pro_ultralight_italic_trial-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold_italic';
  src: url('./fonts/lato-bolditalic-webfont.woff2') format('woff2'),
    url('./fonts/lato-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url('./fonts/lato-bold-webfont.woff2') format('woff2'),
    url('./fonts/lato-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoitalic';
  src: url('./fonts/lato-italic-webfont.woff2') format('woff2'),
    url('./fonts/lato-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url('./fonts/lato-regular-webfont.woff2') format('woff2'),
    url('./fonts/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight_italic';
  src: url('./fonts/lato-lightitalic-webfont.woff2') format('woff2'),
    url('./fonts/lato-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url('./fonts/lato-light-webfont.woff2') format('woff2'),
    url('./fonts/lato-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 42px;
  line-height: 44px;
  letter-spacing: 3px;
  font-weight: 400;
}

h2 {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 4px;
}

h3 {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 400;
}

h4 {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
}

h5 {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
}

h6 {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
}

p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 400;
}

@media (min-width: 450px) and (max-width: 767px) {
  h1 {
    font-size: 42px;
    line-height: 44px;
    letter-spacing: 3px;
  }

  h2 {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 4px;
  }

  h3 {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0px;
  }

  h4 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
  }

  h5 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
  }

  h6 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.6px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.6px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 42px;
    line-height: 44px;
    letter-spacing: 3px;
  }

  h2 {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 4px;
  }

  h3 {
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0px;
    font-weight: 400;
  }

  h4 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-weight: 400;
  }

  h5 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-weight: 400;
  }

  h6 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 400;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 400;
  }
}
